page-home {
    #search {
        border-radius: 50px 10px;
    }
    .searchbar .searchbar-input {
        border-radius: 55px;
    }
    .btn-text-left .button-inner {
        justify-content: flex-start;
    }
}